@model IEnumerable<GameApplication.Models.RaceDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create Creature</h2>
<form action="/Creature/Create" method="POST" class="add_form">
    <div>
        <label>Name:</label> <input type="text" name="CreatureName" />
    </div>
    <div>
        <label>Power:</label> <input type="number" name="CreaturePower" min="1" max="1000" placeholder="Max 1000"/>
    </div>
    <div>
        <label>Race:</label>
        <select name="RaceID">
            @foreach (var race in Model)
            {
                <option value="@race.RaceID">@race.RaceName</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Creature" class="button" />

    </div>
</form>