@model GameApplication.Models.ViewModels.DetailsRace


@{
    ViewBag.Title = "View";
}

<a href="/Race/List" class="link_nav">Go back to list</a>
<br />
<a href="/Race/Edit/@Model.SelectedRace.RaceID" class="link_nav">Update</a>
<br />
<a style="color:#ab2020;" href="/Race/DeleteConfirm/@Model.SelectedRace.RaceID" class="link_nav">Delete</a>
<h2>@Model.SelectedRace.RaceName</h2>
<div>Endangered: @Model.SelectedRace.RaceOffensive</div>

<div style="margin-top:75px;">
    <h4>Creatures related to this race</h4>
    @foreach(var creature in Model.RelatedCreatures)
     {
        <a href="/Creature/Details/@creature.CreatureID">@creature.CreatureName</a>
     }
</div>