@model IEnumerable<GameApplication.Models.RaceDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Race/New" class="link_nav">New Race</a>
<div style="display:flex; flex-wrap: wrap; flex-direction:column; width: 60rem; height:60rem;">
    @foreach (var Race in Model)
    {
        <div style="display: flex; flex-direction: column; width: 15rem;" class="race_list">
            <h2><a href="/Race/Details/@Race.RaceID">@Race.RaceName</a></h2>
            <div>
                Offensive:
                @if (@Race.RaceOffensive == true)
                {<small style="color:red;"> Yes</small>}
                else
                {
                    <small style="color:green;">No</small>
                }
            </div>
        </div>
    }
       
</div>