@{
    ViewBag.Title = "Create";
}

<h2>Create Race</h2>
<form action="/Race/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="RaceName" />
    </div>
    <div>
        <label>Offensive:</label>
        <input type="checkbox" name="RaceOffensive" value="true" />
    </div>
    <div>
        <input type="submit" value="Create Race" />

    </div>
</form>