@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:5rem;">
    <div style="max-width:75rem; margin:auto; display:block; text-align:center;"><h1>INTO THE DARKNESS</h1><img src="~/Content/Images/main.png" style="width:35rem;"></div>

    <div class="col-md-4 center_div">
        <img src="~/Content/Images/race.png" style="height:10rem;" />
        <h2>Races</h2>
        <p>To protect yourself, you can inspect which races are available and which races are not offensive.</p>
        <p><a class="btn btn-default" href="~/Race/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 center_div">
        <img src="~/Content/Images/creature.png" style="height:10rem;" />
        <h2>Creatures</h2>
        <p>
            Check out every creature to see if you have a chance of defeating them.
        </p>
        <p><a class="btn btn-default" href="~/Creature/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 center_div">
        <img src="~/Content/Images/dungeon.png" style="height:10rem;" />
        <h2>Dungeons</h2>
        <p>Do you have a certain dungeon in mind? Examine the dungeons and the creatures that live within.</p>
        <p><a class="btn btn-default" href="~/Dungeon/List">Learn more &raquo;</a></p>
    </div>
</div>