@model GameApplication.Models.ViewModels.DetailsDungeon

@{
    ViewBag.Title = "View";
}

<a href="/Dungeon/List">Go back to list</a>
<br />
<a href="/Dungeon/Edit/@Model.SelectedDungeon.DungeonID">Update</a>
<br />
<a style="color:#ab2020;" href="/Dungeon/DeleteConfirm/@Model.SelectedDungeon.DungeonID">Delete</a>
<h2>@Model.SelectedDungeon.DungeonName @Model.SelectedDungeon.DungeonLocation</h2>



<div>
    <h3>Can be encountered in this dungeon:</h3>
    @foreach (var creature in Model.AvailableCreatures)
    {
        <a href="/Creature/Details/@creature.CreatureID">@creature.CreatureName</a><br />

    }
</div>